// Print-only styles.
@media print {
  .side-bar, .page-header { display: none; }
  .main-content { max-width: auto; margin: 1em;}
}

// The default style does not put a maximum on the amount of
// space given to the side bar and looks wrong on really wide screens
@media (min-width: 66.5rem) {
    .side-bar {
        width: calc((100% - 1064px) / 6 + 264px);
        max-width:300px;
        min-width:264px;
    }
    .main {
      margin-left: calc((100% - 1064px) / 6 + 264px);
    }
}

.pattern_logo {
  width: 72px;
  height: 72px;

  img {
    max-width: 110px;
    border-radius: 30%;
  }
}

.site_header {
  img {
    border-radius: 30%;
  }
}

@import "breakpoint/breakpoint";

@import "variables";
@import "mixins";
@import "susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";

@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";

@import "sidebar";

@import "font-awesome/font-awesome";
@import "magnific-popup/magnific-popup";
@import "print";
