{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
      {{ partial "menu-patterns.html" . }}
    </div>
  </div>
  <main class="pf-c-page__main" tabindex="0" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-offset="50">
    <section class="pf-c-page__main-section pf-m-fill">
      <div class="pf-u-display-flex">
        <div class="pf-c-content min-height">
          {{ .Content }}
        </div>
          {{ partial "toc.html" . }}
      </div>
    </section>
    {{ partial "footer.html" . }}
  </main>
{{ end }}