{{ define "main" }}
<main class="pf-c-page__main">
  <section class="pf-c-page__main-section">
    <div class="pf-l-grid__item pf-m-9-col">
      <div class="pf-u-text-align-center">
        <div class="pf-c-content" style="--pf-c-content--FontSize: 1rem;">
          <h1 class="pf-c-title pf-m-4xl">
            {{- .Title -}}
        </h1>
        <div class="page-abstract">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="pf-l-grid pf-m-gutter">
      <div class="pf-l-grid__item pf-m-10-col">
        <div class="pf-c-content" >
          {{ $section := where $.Paginator.Pages "Section" "blog"}}
          {{ range $section }}
            <div >
              {{ .Render "summary" }}
            </div>
          {{ end }}
          {{ partial "paginator.html" . }}
        </div>
      </div>
      <div class="pf-l-grid__item pf-m-2-col">
        {{ partial "tags-blog.html" . }}
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</main>
{{ end }}
