{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
      <div class="pf-l-flex filter-title-div">
        <span class="pf-c-title pf-m-md filter-title pf-l-flex__item pf-m-grow">Menu</span>
      </div>
      <div class="pf-c-select pf-m-expanded">
        <div class="pf-c-select__menu">
          <div class="pf-c-nav pf-m-light">
            <ul class="pf-c-nav__list">
              <li class="pf-c-nav__item">
                <a href="/blog/" class="pf-c-nav__link">
                  <span class="pf-c-icon pf-m-md pf-m-inline">
                    <span class="pf-c-icon__content">
                      <i class="fas fa-angle-left" aria-hidden="true"></i>
                    </span>
                  </span>
                  <span style="padding-left: 10px;">Back to Blog</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="pf-c-page__main" tabindex="0" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-offset="50">
    <section class="pf-c-page__main-section">
      <div class="pf-u-display-flex">
          <div class="pf-c-content min-height">
            <h1>
              {{- .Title -}}
            </h1>
            {{ if .Params.author }}
              <div style="margin: 10px 0;">
                by {{ .Params.author }}
              </div>
            {{ end }}
            <div style="margin: 10px 0;">
              {{ .Date | time.Format ":date_long" }}
            </div>
            <div style="margin: 20px 0;">
            {{ range .Params.blog_tags }}
              <span class="pf-c-label pf-m-orange">
                <span class="pf-c-label__content">{{ . }}</span>
              </span>
            {{ end }}
            </div>
            <hr class="pf-c-divider" />
            {{ .Content }}
          </div>
          {{ partial "toc.html" . }}
      </div>
    </section>
    {{ partial "footer.html" . }}
  </main>
{{ end }}
