<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body{{ with .File }} data-github-file="{{ .Path }}"{{ end }}>
        <div class="pf-c-page">
        {{- partial "header.html" . -}}
        {{- block "main" . }}
        <!-- get all the things from the content files -->
        {{- end }}
        </div>
        <script src="{{ "js/codeblock.js"  | relURL }}"></script>
        <script src="{{ "js/select-report-issue-popup.js"  | relURL }}"></script>
    </body>
    <!-- Uncomment when you have sorted out the feedback partials option
        <body>
        {{ if .Params.links.feedback }}
        {{ partial "feedback-form.html" . }}
        {{ else }}
        <p>{{ .Params.links.feedback }}</p>
        {{ end }}
    </body>-->
</html>
