{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
      <div class="pf-l-flex filter-title-div">
        <span class="pf-c-title pf-m-md filter-title pf-l-flex__item pf-m-grow">Filter by</span>
      </div>
      {{ partial "menu-ci.html" . }}
    </div>
  </div>
  <main class="pf-c-page__main">
    <section class="pf-c-page__main-section">
      <div class="pf-u-display-flex">
      <div class="pf-c-content">
        <h1>{{- .Title -}}</h1>
        {{ .Content }}
      <script type="text/javascript" src="/js/dashboard.v2.js"></script>
      <div class='ci-results'>
          <div id="ci-dataset">
            {{ partial "spinner.html" . }}
           </div>
          <script>
            {{ $internal := .Param "internal" }}
            obtainBadges({ 'target': 'ci-dataset' {{ if (eq $internal true ) }}, 'links': 'internal'{{ end }} });
          </script>
      </div>
      </div>
      <aside class="pf-c-jump-links pf-m-vertical sticky pf-m-expandable pf-m-non-expandable-on-2xl">
        <div class="pf-l-grid__item pf-m-4-col">
          {{ partial "ci-key.html" . }}
        </div>
      </aside>
      </div>

    </section>
    {{ partial "footer.html" . }}
  </main>
{{ end }}
