{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="pf-c-page__sidebar">
    <div class="pf-c-page__sidebar-body">
      {{ partial "menu-contribute.html" . }}
    </div>
  </div>
  <main class="pf-c-page__main" tabindex="0">
    <section class="pf-c-page__main-section pf-m-fill">
      {{ partial "toc-mobile.html" . }}
      {{ partial "page-toolbar.html" . }}
      <div class="pf-u-display-flex">
        {{ partial "toc.html" . }}
        <div class="pf-c-content">
          {{ .Content }}
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
  </main>
{{ end }}
