<div class="pf-c-panel pf-m-raised ci-key">
  <div class="pf-c-panel__header">Key</div>
  <div class="pf-c-panel__main">
    <div class="pf-c-panel__main-body">
      <div class="pf-l-flex">

        <span class="ci-label">
          <span class="ci-label-environment">
            <i class="ci-icon fas fa-fw fa-brands fa-git-alt" aria-hidden="true">
            </i>
            CI Job with link
          </span>
          <span class="ci-label-branch-green">Passed</span>
        </span>

        <span class="ci-label">
          <span class="ci-label-environment">
            <i class="ci-icon fas fa-fw fa-brands fa-git-alt" aria-hidden="true">
            </i>
            CI Job with link
          </span>
          <span class="ci-label-branch-yellow">CI infrastructure failure</span>
        </span>

        <span class="ci-label">
          <span class="ci-label-environment">
            <i class="ci-icon fas fa-fw fa-brands fa-git-alt" aria-hidden="true">
            </i>
            CI Job with link
          </span>
          <span class="ci-label-branch-red">CI test failure</span>
        </span>
      </div>
    </div>
  </div>
</div>
