<section id="prefooter" class="pf-c-page__main-section footer-dark">
    <div class="pf-l-grid prefooter-menu-grid">
        <div class="pf-l-grid__item pf-m-12-col-on-sm pf-m-6-col-on-md pf-m-offset-1-col-on-md pf-u-mb-lg pf-u-mb-0-on-sm">
            <div class="pf-l-grid pf-u-py-xl">
                <div class="pf-l-grid__item pf-m-6-col-on-sm pf-m-4-col-on-md pf-u-ml-md pf-u-ml-0-on-md pf-u-mb-xl pf-u-mb-0-on-md">
                    <p class="pf-c-title footer-menu-title">QUICKLINKS</p>
                    <nav aria-label="Quick Links">
                        <ul class="pf-c-list pf-m-plain">
                            <li>
                                <i class="prefooter-icon fa-brands fa-github"></i>
                                <a class="footer-link" aria-label="GitHub repository" href="https://github.com/validatedpatterns/docs">GitHub repository</a>
                            </li>
                            <li>
                                <i class="prefooter-icon fas fa-check-circle"></i>
                                <a class="footer-link " aria-label="Available patterns" href="/patterns">Available patterns</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="pf-l-grid__item pf-m-6-col-on-sm pf-m-4-col-on-md pf-u-mt-lg pf-u-mt-0-on-sm pf-u-ml-md pf-u-ml-0-on-md pf-u-mb-xl pf-u-mb-0-on-md">
                    <p class="pf-c-title footer-menu-title">CONTRIBUTE</p>
                    <nav aria-label="Contribute">
                        <ul class="pf-c-list pf-m-plain ws-org-pfsite-footer-menu-list">
                            <li>
                                <i class="prefooter-icon fas fa-pen"></i>
                                <a class="footer-link" aria-label="Documentation contributor guidelines" href="/contribute/contribute-to-docs/">Documentation</a>
                            </li>
                            <li>
                                <i class="prefooter-icon fas fa-code"></i>
                                <a class="footer-link" aria-label="How to create a new pattern" href="/contribute/creating-a-pattern/">Patterns</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="pf-l-grid__item pf-m-6-col-on-sm pf-m-4-col-on-md pf-u-mt-lg pf-u-mt-0-on-md pf-u-ml-md pf-u-ml-0-on-md">
                    <p class="pf-c-title footer-menu-title">STAY IN TOUCH</p>
                    <nav aria-label="Stay in touch">
                        <ul class="pf-c-list pf-m-plain">
                       <!-- Slack is not ready yet, we don't have an external channel
                            <li>
                                <i class="prefooter-icon fa-brands fa-slack"></i>
                                <a href="/" class="footer-link" target="top" aria-label="Join the Validated Patterns Slack">Slack</a>
                            </li>

                        -->
                            <li>
                                <i class="prefooter-icon fas fa-envelope"></i>
                                <a href="https://groups.google.com/g/validatedpatterns" class="footer-link" target="top" aria-label="Join the Validated Patterns mailing list">Mailing list</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="pf-l-grid__item pf-m-12-col-on-sm pf-m-4-col-on-md">
            <div class="pf-l-grid pf-u-pt-xl">
                <div class="pf-l-grid__item pf-u-px-xl">
                    <a class="pf-c-page__header-brand-link pf-c-brand pf-u-pb-md" href="/">
                        <img class="pf-c-brand" src="/images/validated-patterns.png" alt="Validated Patterns">
                    </a>
                    <p class="footer-link">Validated Patterns are an evolution of how you deploy applications in a hybrid cloud. With a pattern, you can automatically deploy a full application stack through a GitOps-based framework. With this framework, you can create business-centric solutions while maintaining a level of Continuous Integration (CI) over your application.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer-dark pf-m-no-fill pf-l-flex footer-center">
        <div class="pf-l-flex__item">
            <a href="//www.redhat.com" target="top" aria-label="Visit Red Hat.com"><img src="/images/RHlogo.svg" alt="Red Hat logo" width="145px" height="613px"></a><span class="site-copyright">Copyright &copy; {{ now.Year }} Red Hat, Inc.</span>
        </div>
        <script src="{{ "js/bootstrap.bundle.js" | relURL }}"></script>
        {{ partial "search-index.html" . }}
</footer>
