<ul class="pf-c-list pf-m-inline links-menu pf-m-align-self-center">
{{ if (isset .Params.links "github") }}
<li class="pf-c-list__item">
  <span class="pf-c-list__item-icon">
    <i class="fa-solid fa-code-fork"></i>
  </span>
  <a href="{{ .Params.links.github }}" class="">Source Code</a>
</li>
{{ end }}
{{ if (isset .Params.links "install") }}
<li class="pf-c-list__item">
  <span class="pf-c-icon pf-m-inline">
    <span class="pf-c-list__item-icon pf-m-md">
      <i class="fa-sharp fa-regular fa-download"></i>
    </span>
  </span>
  <a href="{{ .Params.links.install }}" class="">Install</a>
</li>
{{ end }}
{{ if (isset .Params.links "arch") }}
<li class="pf-c-list__item">
  <span class="pf-c-list__item-icon">
    <i class="fa-solid fa-layer-group"></i>
  </span>
  <a href="{{ .Params.links.arch }}" class="">Solution Architecture</a>
</li>
{{ end }}
{{ if (isset .Params.links "bugs") }}
<li class="pf-c-list__item">
  <span class="pf-c-list__item-icon">
    <i class="fa-solid fa-bug"></i>
  </span>
  <a href="{{ .Params.links.bugs }}" class="">Report Bugs</a>
</li>
{{ end }}
{{ if (isset .Params.links "feedback") }}
<li class="pf-c-list__item">
  <span class="pf-c-list__item-icon">
    <i class="fa-solid fa-comments"></i>
  </span>
  <a href="{{ .Params.links.feedback }}" class="">Share Feedback</a>
</li>
{{ end }}
</ul>
