{{ $currentPage := . }}
    <div class="pf-c-nav pf-m-light">
      <ul class="pf-c-nav__list">
        {{ range .Site.Menus.contribute }}
          {{ if .HasChildren }}
          <!-- This applies to nav items that have children-->
            <li class="pf-c-nav__item pf-m-expanded">
              <a href="{{ .URL }}" class="pf-c-nav__link {{ if or ($currentPage.IsMenuCurrent "contribute" .) ($currentPage.HasMenuCurrent "contribute" .) }}pf-m-current{{ end }}">
                {{- .Name -}}
                <!-- If the section with children is not the active one, chevron to the right-->
                {{ if not (or ($currentPage.IsMenuCurrent "contribute" .) ($currentPage.HasMenuCurrent "contribute" .)) }}
                <!-- Also, we need to use a "span" for the chevron because the active blue line already uses the "after" pseudo-->
                <span class="pf-c-accordion__toggle-icon">
                  <i class="fas fa-angle-right" aria-hidden="true"></i>
                </span>
                <!-- If the section with children is active, chevron down-->
                {{ else }}
                <span class="pf-c-accordion__toggle-icon">
                  <i class="fas fa-angle-down" aria-hidden="false"></i>
                </span>
                {{ end }}
              </a>
              <!-- Create the navigation for the children. If the section with children is not the active one, collapse the children-->
              <section class="pf-c-nav__subnav {{ if not (or ($currentPage.IsMenuCurrent "contribute" .) ($currentPage.HasMenuCurrent "contribute" .)) }}collapse{{ end }}">
                <ul class="pf-c-nav__list">
                  {{- range .Children }}
                    <li class="pf-c-nav__item pf-m-expanded">
                      <a href="{{ .URL }}" class="pf-c-nav__link {{ if $currentPage.IsMenuCurrent "contribute" . }}pf-m-current{{ end }}">
                        {{- .Name -}}
                      </a>
                    </li>
                  {{ end }}
                </ul>
            </section>
            </li>
          {{ else }}
          <!-- This applies to the nav items that don't have children-->
          <!-- It doesn't give them a chevron-->
          <li class="pf-c-nav__item pf-m-expanded">
            <a href="{{ .URL }}" class="pf-c-nav__link {{ if $currentPage.IsMenuCurrent "contribute" . }}pf-m-current{{ end }}">
              {{- .Name -}}
            </a>
          {{ end }}
        {{ end }}
      </ul>
    </div>
