<div class="pf-c-select pf-m-expanded">
  <span id="select-checkbox-expanded-selected-label" hidden>Filter patterns</span>
  <div class="pf-c-select__menu">
    <div class="pf-c-accordion accordion" id="patternsAccordionNav">

      <!-- TYPE-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="typeHeading">
          <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by validation type" type="button" data-bs-toggle="collapse" data-bs-target="#collapseType" aria-expanded="false" aria-controls="collapseType">
            Pattern Tiers <span id="TiersItemsCounter"></span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>

          </button>
        </h2>
        <div id="collapseType" class="pf-c-accordion__expanded-content collapse" aria-labelledby="typeHeading" data-bs-parent="#patternsAccordionNav">
          <div class="pf-c-accordion__expanded-content-body">
            <a href="/learn/about-pattern-tiers-types/">What do these tiers mean?</a>
            <div class="pf-c-select__menu-group">
              <fieldset class="pf-c-select__menu-fieldset" aria-labelledby="select-checkbox-expanded-selected-group-patterntype" id="TiersItems">
              </fieldset>
          </div>
          </div>
        </div>
      </div>

      <!-- INDUSTRIES -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="industriesHeading">
          <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by industry" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIndustries" aria-expanded="false" aria-controls="collapseIndustries">
            Industries <span id="IndustriesItemsCounter"></span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </h2>
        <div id="collapseIndustries" class="pf-c-accordion__expanded-content collapse" aria-labelledby="industriesHeading" data-bs-parent="#patternsAccordionNav">
          <div class="pf-c-accordion__expanded-content-body">
            <div class="pf-c-select__menu-group">
              <fieldset class="pf-c-select__menu-fieldset" aria-labelledby="select-checkbox-expanded-selected-group-industry" id="IndustriesItems">
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <!--RED HAT PRODUCTS-->

      <div class="accordion-item">
        <h2 class="accordion-header" id="rhProductHeading">
          <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by Red Hat product" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRhProducts" aria-expanded="false" aria-controls="collapseRhProducts">
            Red Hat products <span id="RhProductsItemsCounter"></span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </h2>
        <div id="collapseRhProducts" class="pf-c-accordion__expanded-content collapse" aria-labelledby="productHeading" data-bs-parent="#patternsAccordionNav">
          <div class="pf-c-accordion__expanded-content-body">
            <div class="pf-c-select__menu-group">
              <fieldset class="pf-c-select__menu-fieldset" aria-labelledby="select-checkbox-expanded-selected-group-rh-products" id="RhProductsItems">
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <!--PARTNERS-->

      <div class="accordion-item">
        <h2 class="accordion-header" id="partnerHeading">
          <button class="pf-c-accordion__toggle collapsed" title="Filter patterns by partners" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePartners" aria-expanded="false" aria-controls="collapsePartners">
            Partners <span id="PartnersItemsCounter"></span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>
            <span class="pf-c-accordion__toggle-icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </h2>
        <div id="collapsePartners" class="pf-c-accordion__expanded-content collapse" aria-labelledby="PartnersHeading" data-bs-parent="#patternsAccordionNav">
          <div class="pf-c-accordion__expanded-content-body">
            <div class="pf-c-select__menu-group">
              <fieldset class="pf-c-select__menu-fieldset" aria-labelledby="select-checkbox-expanded-selected-group-partners" id="PartnersItems">
              </fieldset>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
