<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-2-col pf-m-offset-3-col pf-u-text-align-right">
    {{ partial "label-community-pattern.html" . }}
  </div>
  <div class="pf-l-grid__item pf-m-4-col pf-u-text-align-left pf-c-content" style="--pf-c-content--LineHeight: 2;">
    This pattern is a community pattern.
  </div>
  <div class="pf-l-grid__item pf-m-2-col pf-m-offset-3-col pf-u-text-align-right">
    {{ partial "label-validated-pattern.html" . }}
  </div>
  <div class="pf-l-grid__item pf-m-4-col pf-u-text-align-left pf-c-content" style="--pf-c-content--LineHeight: 2;">
    This pattern meets the standard for validated pattern.
  </div>
</div>
