<div class="pf-c-page__sidebar">
  <div class="pf-c-page__sidebar-body">
    <div class="pf-l-flex filter-title-div">
      <span class="pf-c-title pf-m-md filter-title pf-l-flex__item pf-m-grow">Filter by</span>
    <!--  <span class="pf-l-flex__item reset-title">Reset filters</span> -->
    </div>
        {{ partial "menu-patterns-browser.html" . }}
  </div>
</div>

<main class="pf-c-page__main">
  <section class="pf-c-page__main-section">
    <div class="pf-l-grid__item pf-m-9-col">
      <div class="pf-u-text-align-center">
        <div class="pf-c-content" style="--pf-c-content--FontSize: 1rem;">
          <h1 class="pf-c-title pf-m-4xl">
            {{- .Title -}}
          </h1>
          <div class="page-abstract">
            {{ .Content }}
          </div>
        </div>
      </div>
    <div class="pf-c-content" >
      {{ $patterns := where $.Pages "Type" "patterns"}}
      {{ $patterns := where $patterns "BundleType" "branch"}}
      <div class="pf-l-stack pf-m-gutter">
        <div class="pf-l-stack__item pf-u-text-align-right pattern-count-style">
          <span id="pattern-count">{{- len $patterns -}}</span> of {{ len $patterns }}  patterns displayed
        </div>
        <div class="pf-l-stack__item">
          <div class="pf-l-gallery pf-m-gutter" style="--pf-l-gallery--GridTemplateColumns--min: 300px;">
            {{ range $pattern :=  $patterns.ByTitle }}
              {{ $data := newScratch }}
              {{ $data.Set "tags" slice }}
              {{ $params := .Params }}
              {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}

                {{ if isset $params $taxonomyname }}
                  {{ range $term := $pattern.Param $taxonomyname }}
                    {{ $taglist := $data.Get "tags" }}
                    {{ $taglist := $taglist | append (string (printf "%s:%s" $taxonomyname ($term | urlize) | printf "%s" )) }}
                    {{ $data.Set "tags" $taglist }}
                  {{ end }}

                {{ end }}
              {{ end }}
              {{ $taglist := $data.Get "tags" }}
              {{ $validated := .Param "tier" }}
              {{ if (eq $validated "maintained" ) }}
                {{ .Scratch.Set "patterntype" "type:maintained" }}
              {{ else if (eq $validated "tested" ) }}
                {{ .Scratch.Set "patterntype" "type:tested" }}
              {{ else }}
                  {{ .Scratch.Set "patterntype" "type:sandbox" }}
              {{ end }}
              {{ $patterntype := .Scratch.Get "patterntype"  }}
              <div class="pf-l-gallery__item filterDiv" tag-data="{{ delimit $taglist " " }} {{ $patterntype }}" style="display: grid;">
                {{ .Render "summary-with-image" }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    </div>
    <script src="{{ "js/filter.js" | relURL }}"></script>
  </section>
  {{ partial "footer.html" . }}
</main>
