<div class="pf-c-page__sidebar">
  <div class="pf-c-page__sidebar-body">
    {{ partial "menu-patterns.html" . }}
  </div>
</div>
<main class="pf-c-page__main" tabindex="0" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-offset="50">
  <section class="pf-c-page__main-section">
    <div class="pf-u-display-flex">
        <div class="pf-c-content min-height">
          <div class="pattern-label">
            {{ $validated := .Param "validated" }}
            {{ if (eq $validated true ) }}
              {{ partial "label-validated-pattern.html" . }}
            {{ else }}
              {{ partial "label-community-pattern.html" . }}
            {{ end }}
          </div>
          {{ .Content }}
      </div>
        {{ partial "toc.html" . }}
    </div>
  </section>
  {{ partial "footer.html" . }}
</main>
