<div class="pf-c-panel" style="margin-bottom: 1em">
  <div class="pf-c-panel__header">Blog Tags</div>
  <hr class="pf-c-divider" />
  <div class="pf-c-panel__main">
    <div class="pf-c-panel__main-body">
    <ul class="pf-c-list pf-m-plain">
      {{ range $name, $taxonomy := .Site.Taxonomies.blog_tags }}
       <li>
         <a class="pf-c-label pf-m-orange" href="{{ "/blog-tags/" | relLangURL }}{{ $name | urlize }}">
           {{- $name -}}
         </a>
       </li>
      {{ end }}
    </ul>
    </div>
  </div>
</div>
