<div class="pf-c-panel" style="margin-bottom: 1em">
  <div class="pf-c-panel__header">Pattern Type</div>
  <hr class="pf-c-divider" />
  <div class="pf-c-panel__main">
    <div class="pf-c-panel__main-body">
        <button class="pf-c-label pf-m-green pf-m-outline" id="type:validated" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">
          <span class="pf-c-label__icon">
            <i class="fas fa-fw fa-check-circle" aria-hidden="true"></i>
          </span>
          Validated
        </span></button>

        <button class="pf-c-label pf-m-blue pf-m-outline" id="type:community" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">
          <span class="pf-c-label__icon">
            <i class="fas fa-fw fa-users" aria-hidden="true"></i>
          </span>
          Community
        </span></button>
  </div>
  </div>
</div>
