<div class="pf-c-panel" style="margin-bottom: 1em">
  <div class="pf-c-panel__header">Products</div>
  <hr class="pf-c-divider" />
  <div class="pf-c-panel__main">
    <div class="pf-c-panel__main-body">
      {{ range $name, $taxonomy := .Site.Taxonomies.products }}
        <button class="pf-c-label pf-m-red pf-m-outline" id="products:{{- $name -}}" type="button" onclick="filterSelection(this.id)" style="margin: 5px 0;"><span class="pf-c-label__content">{{- $name | humanize | title  -}}</span></button> 
      {{ end }}
    </div>
  </div>
</div>
