{{- $toc := .TableOfContents -}}
{{- if and $toc (not (eq $toc "<nav id=\"TableOfContents\"></nav>")) -}}

{{- $tocHTML := $toc | replaceRE " id=\"TableOfContents\"" "" | replaceRE "<ul>" "<ul class=\"otp-list\">" | replaceRE "<li>" "<li class=\"otp-item\">" | replaceRE "<a" "<a class=\"otp-link\"" -}}

<aside class="otp-desktop" aria-label="On this page">
  <div class="otp-desktop__header">
    <h2 class="otp-desktop__title">On this page</h2>
  </div>
  {{- $tocHTML | safeHTML }}
</aside>

{{- end -}}
