<aside class="pf-c-jump-links pf-m-vertical sticky pf-m-expandable pf-m-non-expandable-on-2xl" aria-label="Table of contents">
  <div class="pf-l-stack pf-m-gutter">
    <div class="pf-l-stack__item pf-u-text-align-right">
    {{ with .File }}
        {{ $githubRepo := "validatedpatterns/docs" }}
        {{ $githubBranch := "main" }}
        {{ $githubFilePath := .Path }}
        <a href="https://github.com/{{ $githubRepo }}/edit/{{ $githubBranch }}/content/{{ $githubFilePath }}" target="_blank" rel="noopener noreferrer">
            <span class="pf-c-icon pf-m-md" title="Edit this page">
                <span class="pf-c-icon__content"><i class="fa-solid fa-pencil"></i></span>
            </span>
        </a>
    {{ end }}
    <a href="https://github.com/validatedpatterns/docs/commits/main/content/{{ .File.Path }}" target="_blank" rel="noopener noreferrer"><span class="pf-c-icon pf-m-md" title="View page history"><span class="pf-c-icon__content"><i class="fa-solid fa-clock-rotate-left"></i></span></span></a>
    <a id="report-doc-bug-btn" href="https://jira.example.com/"><span class="pf-c-icon pf-m-md" title="File a documentation bug"><span class="pf-c-icon__content"><i class="fa-regular fa-bug"></i></span></span></a>
</div>
    <div class="pf-l-stack__item">
      <div class="pf-c-jump-links__header">
        <div class="pf-c-jump-links__label">
          <h1>Table of Contents</h1>
        </div>
      </div>
      {{- .TableOfContents | replaceRE "<ul>" "<ul class=\"pf-c-jump-links__list\">" | replaceRE "<li>" "<li class=\"pf-c-jump-links__item\">" | replaceRE "<a" "<a class=\"pf-c-jump-links__link\"" | safeHTML }}
    </div>
  </div>
</aside>
